<div class="section-title content-after-divider project-context">Project Context</div>

<mat-spinner class="reload-context-spinner align-left" *ngIf="reloadingContext" color="primary" strokeWidth="4"
             [diameter]="100"></mat-spinner>

<button
  *ngIf="project.context.length == 0 && project.data.loadedFiles.length > 0"
  class="reload-models-button" mat-raised-button [disabled]="reloadingContext"
  color="primary" (click)="onReloadModelsClick()">Reload Models
</button>

<app-tree [treeData]="project.context"></app-tree>

<mat-spinner class="clear-context-spinner align-left" *ngIf="clearingContext" color="primary" strokeWidth="4"
             [diameter]="100"></mat-spinner>

<button *ngIf="project.context.length != 0" class="clear-context-button" mat-raised-button
        color="primary" [disabled]="clearingContext" (click)="onClearContextButtonClick()">Clear Context
</button>
