.no-script-main-div {
  width: 100%;
  height: 100%;
  overflow: auto;
  margin-right: 32px;
  margin-bottom: 32px;
}

.title-style {
  font-size: 16px;
  font-weight: bold;
  opacity: 75%;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.icon-button {
  cursor: default;
}

.instr{
  font-size: 16px;
  margin: 14px 48px;
}
