<div style="width: 100%" fxLayout="column" fxLayoutAlign="space-around center">

  <div style="width: 80%; margin-top: 2%" fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field appearance="standard" fxFlex>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ProjectId" #input>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onCreateButtonClick($event)" fxFlexOffset="4" fxFlex="16">Create
      Project
    </button>
  </div>

  <div style="width: 80%" class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="projectId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="projectId">Project Id</th>
        <td mat-cell *matCellDef="let row"> {{row.projectId}} </td>
      </ng-container>

      <ng-container matColumnDef="projectName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="projectName">Project Name</th>
        <td mat-cell *matCellDef="let row"> {{row.projectName}}</td>
      </ng-container>

      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="creationDate">Creation Date</th>
        <td mat-cell *matCellDef="let row"> {{row.creationDate | date}} </td>
      </ng-container>

      <ng-container matColumnDef="deleteProject">
        <th mat-header-cell class="delete-column-header" *matHeaderCellDef>Delete Project</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button aria-label="Delete icon button" (click)="onDeleteButtonClick($event, row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="onRowClick(row)" *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of projects"></mat-paginator>
  </div>
</div>
