table {
  width: 100%;
}

.mat-form-field {
  font-size: 16px;
  width: 100%;
}

.main-div {
  width: 100%;
}

th {
  font-size: 16px;
}

mat-header-row {
  width: 100%;
}

.mat-header-cell {
  flex-direction: column;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content: center;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.delete-column-header {
  text-align: center;
}

mat-header-cell, mat-cell {
  justify-content: center;
}
