<div class='section-title content-after-divider'>Load Models</div>

<ng-container *ngIf='loadedFiles$ | async as savedFiles'>
  <app-selectable-tree [treeData]='savedFiles'
                       (updateCheckedFiles)='onUpdateCheckedFiles($event)'></app-selectable-tree>
</ng-container>

<ng-container *ngIf='loadModelsLoading$ | async'>
  <app-centered-spinner text='Loading Models'></app-centered-spinner>
</ng-container>

<button class='load-button' mat-raised-button color='primary'
        [disabled]='checkedFiles.length === 0 || (loadModelsLoading$ | async)'
        (click)='onLoadFilesClick()'>Load Files
</button>
