.section-title {
  font-size: 22px;
  font-weight: bold;
  opacity: 80%;
}

.content-after-divider {
  margin-top: 24px;
  margin-bottom: 8px;
  margin-left: 8px;
}

.align-left {
  margin-left: 8px;
}

.load-button {
  margin-top: 16px;
  margin-bottom: 24px;
  margin-left: 8px;
}
