<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16">
  <mat-form-field appearance="fill">
    <mat-label>Parameter Type</mat-label>
    <mat-select id="parameter-type" [value]="parameter.type" (valueChange)="onParameterTypeChange($event)">
      <mat-option *ngFor="let type of parameterTypes" [value]="type">{{ type }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Parameter Name</mat-label>
    <input
      id="parameter-name"
      matInput
      placeholder="Name"
      [ngModel]="parameter.name"
      [errorStateMatcher]="parameterNameErrorMatcher"
      (ngModelChange)="nameUpdate.next($event)" />
    <mat-error>{{ parameter.nameError }}</mat-error>
  </mat-form-field>

  <ng-template #stringValue let-id>
    <mat-form-field>
      <mat-label>Parameter Value</mat-label>
      <input id="{{ id }}" matInput placeholder="Value" [ngModel]="parameter.value" (ngModelChange)="valueUpdate.next($event)" />
    </mat-form-field>
  </ng-template>

  <ng-template #integerValue let-id>
    <mat-form-field>
      <mat-label>Parameter Value</mat-label>
      <input
        id="{{ id }}"
        matInput
        placeholder="Value"
        [ngModel]="parameter.value"
        type="number"
        step="1"
        (keydown)="onIntegerValueKeyDown($event)"
        (input)="onIntegerValueInput($event)"
        (ngModelChange)="valueUpdate.next($event)" />
    </mat-form-field>
  </ng-template>

  <ng-template #floatValue let-id>
    <mat-form-field>
      <mat-label>Parameter Value</mat-label>
      <input id="{{ id }}" matInput placeholder="Value" [ngModel]="parameter.value" type="number" (ngModelChange)="valueUpdate.next($event)" />
    </mat-form-field>
  </ng-template>

  <ng-template #booleanValue let-id>
    <mat-checkbox id="{{ id }}" [checked]="isCheckedValue(parameter.value)" (change)="valueUpdate.next(setCheckedValue($event.checked))">
      Parameter Value
    </mat-checkbox>
  </ng-template>

  <ng-container *ngIf="parameter.type === 'string'">
    <ng-container *ngTemplateOutlet="stringValue; context: { id: 'parameter-value' }"></ng-container>
  </ng-container>

  <ng-container *ngIf="parameter.type === 'integer'">
    <ng-container *ngTemplateOutlet="integerValue; context: { id: 'parameter-value' }"></ng-container>
  </ng-container>

  <ng-container *ngIf="parameter.type === 'float'">
    <ng-container *ngTemplateOutlet="floatValue; context: { id: 'parameter-value' }"></ng-container>
  </ng-container>

  <ng-container *ngIf="parameter.type === 'boolean'">
    <ng-container *ngTemplateOutlet="booleanValue; context: { id: 'parameter-value' }"></ng-container>
  </ng-container>

  <button mat-icon-button color="accent" aria-label="Delete Parameter" (click)="onDeleteClick()">
    <mat-icon>delete</mat-icon>
  </button>
</div>
