@if (scriptResource.isLoading() || scriptContentResource.isLoading()) {
  <app-loading-progress-bar title="Loading Script..."></app-loading-progress-bar>
} @else if (scriptResourceError()) {
  <app-error-state [error]="scriptResourceError()!"></app-error-state>
} @else if (scriptContentResourceError()) {
  <app-error-state [error]="scriptContentResourceError()!"></app-error-state>
} @else {
  <app-selected-script-action-bar [projectId]="projectId()" [script]="scriptResource.value()!" />

  <ngx-monaco-editor style="height: 100%" [options]="editorOptions()" [ngModel]="scriptContentResource.value()"></ngx-monaco-editor>
}
