@if (scriptResource.isLoading() || scriptContentResource.isLoading()) {
  <app-loading-progress-bar title="Loading Script..."></app-loading-progress-bar>
} @else if (scriptResourceError()) {
  <app-error-state [error]="scriptResourceError()!" (retry)="scriptResource.reload()"></app-error-state>
} @else if (scriptContentResourceError()) {
  <app-error-state [error]="scriptContentResourceError()!" (retry)="scriptContentResource.reload()"></app-error-state>
} @else {
  <app-run-script-loading [statusUrl]="statusUrl()" (analysisFinished)="onAnalysisFinished($event)" />

  <app-selected-script-action-bar
    [projectId]="projectId()"
    [instanceId]="instanceId()"
    [script]="scriptResource.value()!"
    (statusUrlChange)="onStatusUrlChanged($event)" />

  <ngx-monaco-editor style="height: 100%" [options]="editorOptions()" [ngModel]="scriptContentResource.value()"></ngx-monaco-editor>
}
