version: "3.8"
services:
  mongo:
    image: mongo:4.4
    container_name: mongo
    restart: unless-stopped
    volumes:
      - ${MONGODB_DATA}:/data/db
  
  scripbee:
    image: dxworks/scriptbee
    ports:
      - "4201:80"
    volumes:
      - ${SCRIPTBEE_DATA}:/root/.scriptbee

    environment:
      - ConnectionStrings__mongodb=mongodb://mongo:27017/ScriptBee?authSource=admin
      - UserFolder__UserFolderPath=${SCRIPTBEE_DATA}
    depends_on:
      - mongo
