<div class="top-action-buttons">
  @if (statusUrl()) {
    <app-run-script-loading [statusUrl]="statusUrl()" (analysisFinished)="analysisFinished.emit($event)" />
  }

  <div class="spacer"></div>

  @if (saveStatus()) {
    <span class="save-status" [class.error]="saveStatus() === 'Error'">{{ saveStatus() }}</span>
  }
  <button mat-icon-button matTooltip="Copy path to clipboard" [cdkCopyToClipboard]="absoluteFilePath()" (click)="onCopyToClipboardButtonClick()">
    <mat-icon>content_copy</mat-icon>
  </button>
  <a mat-icon-button matTooltip="Open in VS Code" [href]="'vscode://file/' + absoluteSrcPath() | safeUrl">
    <mat-icon svgIcon="microsoft-visual-studio-code"></mat-icon>
  </a>
  <button mat-icon-button matTooltip="Edit Parameters" (click)="onEditParametersButtonClick()">
    <mat-icon>tune</mat-icon>
  </button>

  <button mat-icon-button matTooltip="Run script" (click)="onRunScriptButtonClick()" [disabled]="isLoadingResults()">
    @if (isLoadingResults()) {
      <mat-icon class="spinner">sync</mat-icon>
    } @else {
      <mat-icon>play_arrow</mat-icon>
    }
  </button>
</div>
