@if (files().length === 0) {
  <div class="no-output-files">There are no output files</div>
}

@if (files().length >= 2) {
  <button class="file-button" mat-stroked-button (click)="onDownloadAllButtonClick()">
    <mat-icon>download</mat-icon>
    Download All
  </button>
}

<div class="file-list">
  @for (file of files(); track file.id) {
    <div class="file-item">
      <span class="file-name" [title]="file.name">{{ file.name }}</span>

      @if (fileViewerService.getAvailablePluginsForFile(file).length > 1) {
        <button mat-icon-button class="file-preview-button" [matMenuTriggerFor]="pluginMenu" (click)="$event.stopPropagation()" title="Preview">
          <mat-icon>visibility</mat-icon>
        </button>
        <mat-menu #pluginMenu="matMenu">
          @for (plugin of fileViewerService.getAvailablePluginsForFile(file); track plugin.id) {
            <button mat-menu-item (click)="openWithPlugin(plugin, file)">
              <mat-icon>{{ plugin.icon }}</mat-icon>
              <span>{{ plugin.name }}</span>
            </button>
          }
        </mat-menu>
      } @else {
        <button mat-icon-button class="file-preview-button" (click)="onPreviewFileClick(file)" title="Preview">
          <mat-icon>visibility</mat-icon>
        </button>
      }

      <button mat-icon-button class="download-icon-button" (click)="onDownloadFileButtonClick(file, $event)" title="Download">
        <mat-icon>download</mat-icon>
      </button>
    </div>
  }
</div>
