<div class="create-new-script-container">
  <button mat-icon-button aria-label="create new script" matTooltip="Create new script" (click)="onCreateNewScriptButtonClick()">
    <mat-icon>note_add</mat-icon>
  </button>
</div>

@if (isDeleteLoading()) {
  <app-loading-progress-bar title="Deleting..."></app-loading-progress-bar>
}

@if (rootError()) {
  <app-error-state [error]="rootError()!" (retry)="onRetry(null)"></app-error-state>
} @else {
  <app-lazy-file-tree
    [data]="rootData()"
    [enableDelete]="true"
    [childrenAccessor]="childrenAccessor"
    (onDelete)="onNodeDelete($event)"
    (onClick)="onNodeClick($event)"
    (onExpand)="onExpand($event)"
    (onRetry)="onRetry($event)"
    (onLoadMore)="onLoadMore($event)" />
}
