<div class="create-new-script-container">
  <button mat-icon-button aria-label="reload tree" matTooltip="Reload tree" (click)="onReloadTreeButtonClick()">
    <mat-icon>sync</mat-icon>
  </button>
  <button mat-icon-button aria-label="create new script" matTooltip="Create new script" (click)="onCreateNewScriptButtonClick()">
    <mat-icon>note_add</mat-icon>
  </button>
</div>

@if (isDeleteLoading()) {
  <app-loading-progress-bar title="Deleting..."></app-loading-progress-bar>
}

<app-lazy-file-tree
  [fetchData]="fetchData"
  [actions]="actions"
  [hasChildAccessor]="hasChildAccessor"
  [idAccessor]="idAccessor"
  [displayNameAccessor]="displayNameAccessor"
  [selectedAccessor]="selectedAccessor"
  (clickChange)="onNodeClick($event)" />
