<div class="main-scripts-div">
  <as-split direction="vertical">
    <as-split-area [size]="65" fxFlex>
      <as-split direction="horizontal">
        <as-split-area [size]="20">
          <div class="tree-div">
            <div fxLayout="row" fxLayoutAlign="end">
              <button mat-icon-button color="warn" matTooltip="Create new script"
                      (click)="onCreateNewScriptButtonClick()">
                <mat-icon>note_add</mat-icon>
              </button>
            </div>
            <app-tree [treeData]="fileStructureTree" (leafClick)="onLeafClick($event)"></app-tree>
          </div>
        </as-split-area>

        <as-split-area [size]="80">
          <div fxFlex style="height: 100%; overflow: hidden">
            <router-outlet></router-outlet>
          </div>
        </as-split-area>
      </as-split>
    </as-split-area>

    <as-split-area [size]="35">

      <mat-tab-group fxFlex class="output-tabs" animationDuration="0ms" headerPosition="below">
        <ng-container *ngFor="let result of resultsService.resultsComponents | async">
          <mat-tab label="{{result.name}}">
            <div *ngIf="result.component && !result.module">
              <ng-container *ngComponentOutlet="result.component">AA</ng-container>
            </div>
            <div *ngIf="result.module">
              <ng-container [ngComponentOutlet]="result.component"
                            [ngComponentOutletNgModule]="result.module"></ng-container>
            </div>
          </mat-tab>
        </ng-container>
        <!--        <mat-tab label="Output Errors">-->
        <!--          <app-output-errors></app-output-errors>-->
        <!--        </mat-tab>-->
        <!--        <mat-tab label="Console Output">-->
        <!--          <app-console-output></app-console-output>-->
        <!--        </mat-tab>-->
        <!--        <mat-tab label="File Output">-->
        <!--          <app-file-output [outputFiles]="outputFiles" [projectId]="projectId" [runId]="runId"></app-file-output>-->
        <!--        </mat-tab>-->
      </mat-tab-group>
    </as-split-area>

  </as-split>
</div>
