<div class='section-title content-after-divider'>Upload Models</div>

<ng-container *ngIf='loadersLoading$ | async; else loadLoaders'>
  <app-centered-spinner text='Loading Loader Plugins'></app-centered-spinner>
</ng-container>

<ng-template #loadLoaders>

  <ng-container *ngIf='loadersError$ | async; else showLoaders'>
    <app-api-error-message message='An error occurred while loading the loaders.' type='error'></app-api-error-message>
  </ng-container>

  <ng-template #showLoaders>

    <ng-container *ngIf='loaders$ | async as loaders'>
      <mat-form-field class='select-loader' appearance='fill'>
        <mat-label>Loader</mat-label>
        <mat-select [(value)]='selectedLoader'>
          <mat-option *ngFor='let loader of loaders' [value]='loader'>
            {{loader}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>

  </ng-template>
</ng-template>


<app-drag-and-drop-files [(files)]='files'></app-drag-and-drop-files>

<div class='warning align-left'>Keep in mind: When uploading new models for a particular loader, the references to
  previous uploads will be deleted!
</div>


<ng-container *ngIf='filesLoading$ | async'>
  <app-centered-spinner text='Uploading Files'></app-centered-spinner>
</ng-container>


<button class='upload-button' mat-raised-button color='primary'
        [disabled]='files.length === 0 || (filesLoading$ | async)'
        (click)='onUploadFilesClick()'>Upload Files
</button>
