.section-title {
  font-size: 22px;
  font-weight: bold;
  opacity: 80%;
}

.select-loader {
  margin-top: 16px;
  margin-left: 8px;
}

.content-after-divider {
  margin-top: 24px;
  margin-bottom: 8px;
  margin-left: 8px;
}

.upload-button {
  margin-top: 16px;
  margin-bottom: 24px;
  margin-left: 8px;
}

.align-left {
  margin-left: 8px;
}

.warning {
  color: var(--primary-color);
  opacity: 90%;
  margin-top: 24px;
  margin-bottom: 8px;
}

.upload-spinner {
  margin-top: 24px;
  margin-bottom: 8px;
}
