::ng-deep .mat-tab-label .mat-tab-label-content {
  font-size: 16px;
}
//
//.accordion-div {
//  width: 80% !important;
//}

mat-tab-body {
  //align-items: center;
  width: 80% !important;

}

ngx-file-drop * {
  border: 2px dotted #ff5722 !important;
  border-radius: 15px;
  height: 100px;
  margin: auto;
}
