<h1 mat-dialog-title style="text-align: center">Update script parameters</h1>
<div mat-dialog-content>
  <h2>Parameters</h2>

  <app-script-parameters-list [parameters]="parameters()" (parametersChange)="onParametersChange($event)" (hasParameterErrors)="onHasParameterErrors($event)" />

  <!--    TODO FIXIT: handle loading and error -->
  <!--    <ng-container *ngIf="updateScriptError$ | async">-->
  <!--      <div class="error-message text-alignment">An error occurred while updating the parameters</div>-->
  <!--    </ng-container>-->

  <!--    <ng-container *ngIf="isUpdatingScript$ | async">-->
  <!--      <ng-template [ngTemplateOutlet]="loading"></ng-template>-->
  <!--    </ng-container>-->

  <!--    <ng-template #loading>-->
  <!--      <app-centered-spinner></app-centered-spinner>-->
  <!--    </ng-template>-->
</div>
<div mat-dialog-actions>
  <button mat-button [disabled]="isUpdateDisabled()" (click)="onUpdateClick()">UPDATE</button>
  <button mat-button (click)="onCancelClick()">CANCEL</button>
</div>
