<div class="project-model-section-title project-model-content-after-divider">Currently loaded models</div>

<div class="currently-loaded-models-content">
  @if (project().linkers.length > 0) {
    <span>Used Linkers: </span>

    @for (linker of project().linkers; track linker) {
      {{ linker }}
    }
  }
</div>

<div class="currently-loaded-models-content">
  <span>Used Loaders: </span>
  <div>
    <app-selectable-tree [data]="loadedFiles()" [displayNameAccessor]="displayNameAccessor"></app-selectable-tree>
  </div>
</div>
