<div class="project-details-main-div">
  <mat-card *ngIf="projectDetailsService.project | async" fxLayout="column" fxLayoutAlign="center start">
    <div style="width: 100%">
      <div class="section-title content">Details</div>
      <div fxLayout="column" fxLayoutAlign="space-around start">
        <div class="content">
          <span>Project Id: &nbsp;</span>
          <span class="text-with-opacity">{{(projectDetailsService.project | async).projectId}}</span>
        </div>
        <div class="content">
          <span>Project Name: &nbsp;</span>
          <span class="text-with-opacity">{{(projectDetailsService.project | async).projectName}}</span>
        </div>
        <div class="content-before-divider">
          <span>Creation Date: &nbsp;</span>
          <span class="text-with-opacity">{{(projectDetailsService.project | async).creationDate | date}}</span>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="section-title content-after-divider">Upload Models</div>

      <mat-form-field class="select-loader" appearance="fill">
        <mat-label>Loader</mat-label>
        <mat-select [(value)]="selectedLoader">
          <mat-option *ngFor="let loader of projectDetailsService.loaders | async" [value]="loader">
            {{loader}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <app-drag-and-drop-files [(files)]="files"></app-drag-and-drop-files>

      <button class="upload-button" mat-raised-button color="primary" [disabled]="files.length===0"
              (click)="onUploadFilesClick()">Upload Files
      </button>

      <mat-divider></mat-divider>

      <div class="section-title content-after-divider">Load Models</div>

      <app-selectable-tree [treeData]="(projectDetailsService.project | async).savedFiles"
                           (updateCheckedFiles)="onUpdateCheckedFiles($event)"></app-selectable-tree>

      <button class="upload-button" mat-raised-button color="primary" [disabled]="checkedFiles.length===0"
              (click)="onLoadFilesClick()">Load Files
      </button>

      <mat-divider></mat-divider>

      <div class="section-title content-after-divider">Link Models</div>

      <mat-form-field class="select-loader" appearance="fill">
        <mat-label>Linker</mat-label>
        <mat-select [(value)]="selectedLinker">
          <mat-option *ngFor="let linker of projectDetailsService.linkers | async" [value]="linker">
            {{linker}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div></div>

      <button class="upload-button" mat-raised-button color="primary" (click)="onLinkButtonClick()">Link
      </button>

      <mat-divider></mat-divider>

      <div class="section-title content-after-divider">Currently loaded models</div>

      <div fxLayout="column" fxLayoutAlign="space-around start">
        <span *ngIf="(projectDetailsService.project | async).linker"
              class="content">Used Linker: {{(projectDetailsService.project | async).linker}}</span>
      </div>

      <appTree class="currently-loaded-models"
               [treeData]="(projectDetailsService.project | async).loadedFiles"></appTree>

      <mat-divider></mat-divider>

      <div class="section-title content-after-divider project-context">Project Context</div>

      <button
        *ngIf="(projectDetailsService.context | async).length == 0 && (projectDetailsService.project | async).loadedFiles.length > 0"
        class="upload-button" mat-raised-button
        color="primary" (click)="onReloadModelsClick()">Reload Models
      </button>

      <appTree [treeData]="(projectDetailsService.context | async)"></appTree>

      <button *ngIf="(projectDetailsService.context | async).length != 0" class="clear-context-button" mat-raised-button
              color="primary" (click)="onClearContextButtonClick()">Clear Context
      </button>
    </div>
  </mat-card>
</div>
