.project-details-main-div {
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center space-around;
  align-items: center;
  overflow: auto;
}

.mat-card {
  width: 74%;
  margin-top: 4%;
  margin-bottom: 4%;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center flex-start;
  align-items: center;
}

.section-title {
  font-size: 22px;
  font-weight: bold;
  opacity: 80%;
}

.content {
  margin: 8px 8px;
}

.select-loader {
  margin-top: 16px;
  margin-left: 8px;
}

.content-before-divider {
  margin-top: 8px;
  margin-bottom: 24px;
  margin-left: 8px;
}

.content-after-divider {
  margin-top: 24px;
  margin-bottom: 8px;
  margin-left: 8px;
}

.upload-button {
  margin-top: 16px;
  margin-bottom: 24px;
  margin-left: 8px;
}

.reload-models-button {
  margin-top: 16px;
  margin-bottom: 8px;
  margin-left: 8px;
}

.clear-context-button {
  margin-bottom: 8px;
  margin-left: 8px;
}

.align-left {
  margin-left: 8px;
}

.project-context {
  margin-top: 48px;
}

.bold-text {
  font-weight: bold;
}

.text-with-opacity {
  opacity: 60%;
}

.warning {
  color: var(--primary-color);
  opacity: 90%;
  margin-top: 24px;
  margin-bottom: 8px;
}

.upload-spinner {
  margin-top: 24px;
  margin-bottom: 8px;
}

.load-spinner{
  margin-top: 16px;
  margin-bottom: 8px;
}

.clear-context-spinner {
  margin-top: 16px;
  margin-bottom: 24px;
}

.reload-context-spinner {
  margin-top: 24px;
  margin-bottom: 16px;
}
