.project-details-main-div {
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center space-around;
  align-items: center;
  overflow: auto;
}

.mat-card {
  width: 74%;
  margin-top: 4%;
  margin-bottom: 4%;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center flex-start;
  align-items: center;
}

.section-title {
  font-size: 22px;
  font-weight: bold;
  opacity: 80%;
}

.content {
  margin: 8px 8px;
}

.content-before-divider {
  margin-top: 8px;
  margin-bottom: 24px;
  margin-left: 8px;
}

.text-with-opacity {
  opacity: 60%;
}
