<div class="project-details-main-div">

  <mat-spinner *ngIf="loading"></mat-spinner>

  <mat-card *ngIf="loadingError" class="loading-error">
    {{loadingError}}
  </mat-card>

  <mat-card *ngIf="project" fxLayout="column" fxLayoutAlign="center start">
    <div style="width: 100%">
      <div class="section-title content">Details</div>
      <div fxLayout="column" fxLayoutAlign="space-around start">
        <div class="content">
          <span>Project Id: &nbsp;</span>
          <span class="text-with-opacity">{{project.data.projectId}}</span>
        </div>
        <div class="content">
          <span>Project Name: &nbsp;</span>
          <span class="text-with-opacity">{{project.data.projectName}}</span>
        </div>
        <div class="content-before-divider">
          <span>Creation Date: &nbsp;</span>
          <span class="text-with-opacity">{{project.data.creationDate | date}}</span>
        </div>
      </div>

      <mat-divider></mat-divider>

      <app-upload-models [project]="project"></app-upload-models>

      <mat-divider></mat-divider>

      <app-load-models [project]="project"></app-load-models>

      <mat-divider></mat-divider>

      <app-link-models [project]="project"></app-link-models>

      <mat-divider></mat-divider>

      <app-currently-loaded-models [project]="project"></app-currently-loaded-models>

      <mat-divider></mat-divider>

      <app-project-context [project]="project"></app-project-context>
    </div>
  </mat-card>
</div>
