<div class="project-model-section-title project-model-content-after-divider">Project Context</div>

@if (projectContextResource.isLoading()) {
  <app-loading-progress-bar title="Loading Context..."></app-loading-progress-bar>
} @else if (projectContextResourceError()) {
  <app-error-state [error]="projectContextResourceError()!" (retry)="projectContextResource.reload()"></app-error-state>
} @else {
  @if (projectContextResource.value()!.length === 0) {
    <div>No context loaded</div>
  }

  @if (isClearContextLoading()) {
    <app-loading-progress-bar title="Clearing Context..."></app-loading-progress-bar>
  }

  @if (isReloadContextLoading()) {
    <app-loading-progress-bar title="Reloading Context..."></app-loading-progress-bar>
  }

  @if (isGenerateClassesLoading()) {
    <app-loading-progress-bar title="Generating Classes..."></app-loading-progress-bar>
  }

  <app-selectable-tree [data]="context()" [displayNameAccessor]="displayNameAccessor"></app-selectable-tree>

  <div class="action-buttons-container">
    <button mat-flat-button [disabled]="isReloadContextLoading()" (click)="onReloadModelsClick()">Reload Models</button>

    <button mat-flat-button [disabled]="isGenerateClassesLoading()" (click)="onGenerateClassesClick()">Generate Classes</button>

    <button mat-flat-button [disabled]="isClearContextLoading()" (click)="onClearContextButtonClick()">Clear Context</button>
  </div>
}
