.name-field {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 8px;
}

.error-message {
  color: var(--warn-color);
  margin-top: 12px;
}

.text-alignment {
  text-align: justify;
  text-justify: inter-word;
}

