<div class="main-dialog-div">
  <h1 mat-dialog-title style="text-align: center">Create new project</h1>
  <div mat-dialog-content>
    <mat-form-field class="name-field" appearance="fill" cdkFocusInitial>
      <mat-label>Project Name</mat-label>
      <input matInput [(ngModel)]="data.projectName">
    </mat-form-field>
    <div>Your new project will be created as {{data.projectName | slugify}}</div>
    <div style="color: var(--warn-color)" *ngIf="projectExists">A project with this name already exists</div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button (click)="onOkClick()">Ok</button>
  </div>
</div>
