<div style="width: 100%" fxLayout="column" fxLayoutAlign="space-around center">

  <div style="width: 80%; margin-top: 2%" fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field appearance="standard" fxFlex>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ProjectId" #input>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onCreateButtonClick()" fxFlexOffset="4" fxFlex="16">Create
      Project
    </button>
  </div>

  <div style="width: 80%" class="mat-elevation-z8">
    <mat-table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="projectId">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header="projectId">Project Id</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row"> {{row.projectId}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="projectName">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header="projectName">Project Name</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row"> {{row.projectName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="creationDate">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header="creationDate">Creation Date
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row"> {{row.creationDate | date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="deleteProject">
        <mat-header-cell mat-header-cell *matHeaderCellDef>Delete Project</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row">
          <button mat-icon-button aria-label="Delete icon button" (click)="onDeleteButtonClick($event, row)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-row mat-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-row>
      <mat-row mat-row matRipple (click)="onRowClick(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4" *ngIf="input.value != ''">No data matching the filter "{{input.value}}"</td>
        <td class="mat-cell" colspan="4" *ngIf="input.value == ''">No available projects</td>
      </tr>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of projects"></mat-paginator>
  </div>
</div>
