<div class="main-dialog-div">
  <h1 mat-dialog-title style="text-align: center">Create new script</h1>
  <div mat-dialog-content>
    <mat-form-field class="dialog-field" appearance="fill" cdkFocusInitial>
      <mat-label>Script Name</mat-label>
      <input matInput [(ngModel)]="scriptPath">
    </mat-form-field>

    <mat-form-field class="dialog-field" appearance="fill">
      <mat-label>Script Type</mat-label>
      <mat-select [(value)]="scriptType">
        <mat-option *ngFor="let type of types" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="text-alignment">The corresponding file extension will be automatically added to the name</div>
    <div class="error-message text-alignment" *ngIf="scriptExists">A script with this name already exists</div>
    <mat-spinner *ngIf="loading"></mat-spinner>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button [disabled]="scriptPath === ''" mat-button (click)="onOkClick()">Ok</button>
  </div>
</div>
