<div fxLayout="row" fxLayoutAlign="end">
  <button mat-icon-button color="warn" matTooltip="Copy to clipboard" [cdkCopyToClipboard]="scriptAbsolutePath"
          (click)="onCopyToClipboardButtonClick()">
    <mat-icon>content_copy</mat-icon>
  </button>
  <button mat-icon-button color="warn" matTooltip="Run script" (click)="onRunScriptButtonClick()">
    <mat-icon>play_arrow</mat-icon>
  </button>
  <mat-icon color="warn" svgIcon="microsoft-visual-studio-code"></mat-icon>
  <a button mat-stroked-button color="warn" [href]="('vscode://file/' + scriptAbsolutePath) | safeUrl">Open VS Code</a>
</div>
<ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
