<div>
  <h1 mat-dialog-title style='text-align: center'>Update script parameters</h1>
  <div mat-dialog-content>

    <h2>Parameters</h2>

    <app-script-parameters-list [parameters]='data.parameters' (parametersChange)='onParametersChange($event)'></app-script-parameters-list>


    <ng-container *ngIf='updateScriptError'>
      <div class='error-message text-alignment'>An error occurred while updating the parameters</div>
    </ng-container>

    <ng-container *ngIf='isUpdatingScript'>
      <ng-template [ngTemplateOutlet]='loading'></ng-template>
    </ng-container>

    <ng-template #loading>
      <app-centered-spinner></app-centered-spinner>
    </ng-template>

  </div>
  <div mat-dialog-actions>
    <button mat-button (click)='onUpdateClick()'>UPDATE</button>
    <button mat-button (click)='onCancelClick()'>CANCEL</button>
  </div>
</div>
