<div class="project-details-main-div">
  <mat-card *ngIf="projectDetailsService.project | async" fxLayout="column" fxLayoutAlign="center start">
    <div>
      <div class="section-title content">Details</div>
      <div fxLayout="column" fxLayoutAlign="space-around start">
        <span class="content">Project Id: {{(projectDetailsService.project | async).projectId}}</span>
        <span class="content">Project Name: {{(projectDetailsService.project | async).projectName}}</span>
        <span
          class="content-before-divider">Creation Date: {{(projectDetailsService.project | async).creationDate | date}}</span>
      </div>

      <mat-divider></mat-divider>

      <div class="section-title content-after-divider">Upload Models</div>

      <mat-form-field class="select-loader" appearance="fill">
        <mat-label>Loader</mat-label>
        <mat-select [(value)]="selectedLoader">
          <mat-option *ngFor="let loader of projectDetailsService.loaders | async" [value]="loader">
            {{loader}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <app-drag-and-drop-files [(files)]="files"></app-drag-and-drop-files>

      <button class="upload-button" mat-raised-button color="primary" [disabled]="files.length===0"
              (click)="onUploadFilesClick()">Upload Files
      </button>

      <mat-divider></mat-divider>

      <div class="section-title content-after-divider">Load Models</div>

      <app-selectable-tree [treeData]="(projectDetailsService.project | async).savedFiles"
                           (updateCheckedFiles)="onUpdateCheckedFiles($event)"></app-selectable-tree>

      <button class="upload-button" mat-raised-button color="primary" [disabled]="checkedFiles.length===0"
              (click)="onLoadFilesClick()">Load
        Files
      </button>

      <mat-divider></mat-divider>

      <div class="section-title content-after-divider">Linker</div>

      <mat-form-field class="select-loader" appearance="fill">
        <mat-label>Linker</mat-label>
        <mat-select [(value)]="selectedLinker">
          <mat-option *ngFor="let linker of projectDetailsService.linkers | async" [value]="linker">
            {{linker}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div></div>

      <button class="upload-button" mat-raised-button color="primary" (click)="onLinkButtonClick()">Link
      </button>

      <mat-divider></mat-divider>

      <div class="section-title content-after-divider">Used stuff</div>

      <div fxLayout="column" fxLayoutAlign="space-around start">
        <span *ngIf="(projectDetailsService.project | async).linker" class="content">Used Linker: {{(projectDetailsService.project | async).linker}}</span>
      </div>

      <appTree [treeData]="(projectDetailsService.project | async).loadedFiles"></appTree>

      <mat-divider></mat-divider>

      <div class="section-title content-after-divider">Project Context</div>

      <appTree [treeData]="(projectDetailsService.context | async)"></appTree>
    </div>
  </mat-card>
</div>
