.dialog-div {
  align-content: center;
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.custom-spinner {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

