<mat-form-field appearance="outline" subscriptSizing="dynamic">
  <mat-select [(value)]="analysisId" placeholder="Select Analysis">
    @for (analysis of analyses(); track analysis.id) {
      <mat-option [value]="analysis.id">
        {{ analysis.creationDate | date: 'short' }}
      </mat-option>
    }
  </mat-select>
</mat-form-field>

@if (analysisId()) {
  <button mat-icon-button class="extended-view-btn" (click)="openExtendedView()" matTooltip="Extended Analysis View">
    <mat-icon svgIcon="open-in-new"></mat-icon>
  </button>
}
