<div class="main-dialog-div">
  <h1 mat-dialog-title style="text-align: center">Create new project</h1>
  <div mat-dialog-content>
    <mat-form-field class="name-field" appearance="fill" cdkFocusInitial>
      <mat-label>Project Name</mat-label>
      <input matInput [(ngModel)]="data.projectName">
    </mat-form-field>
    <div class="text-alignment" *ngIf="data.projectName !== ''">Your new project will be created with the following
      id: {{data.projectName | slugify}}</div>
    <div class="error-message text-alignment" *ngIf="projectExists">A project with this name already exists</div>
  </div>
  <div mat-dialog-actions>
    <button [disabled]="data.projectName === ''" mat-button (click)="onOkClick()">OK</button>
    <button mat-button (click)="onCancelClick()">CANCEL</button>
  </div>
</div>
