<div class="project-model-section-title project-model-content-after-divider">Load Models</div>

<app-checkable-tree [data]="savedFiles()" [displayNameAccessor]="displayNameAccessor" (updateCheckedFiles)="onUpdateCheckedFiles($event)"></app-checkable-tree>

@if (isLoadModelsLoading()) {
  <app-loading-progress-bar title="Loading Models..."></app-loading-progress-bar>
}

<button class="load-button" mat-raised-button [disabled]="checkedFiles().length === 0 || isLoadModelsLoading()" (click)="onLoadFilesClick()">Load Files</button>
