.projects-page-container {
  padding: 0 1rem;
}

.filter-projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

.table-row {
  cursor: pointer;
}
