@if (currentInstanceResource.isLoading()) {
  <app-loading-progress-bar title="Loading instance..."></app-loading-progress-bar>
} @else if (currentInstanceResourceError()) {
  <app-error-state [error]="currentInstanceResourceError()!" (retry)="currentInstanceResource.reload()"></app-error-state>
} @else if (!currentInstanceResource.value()) {
  <div class="project-details-main-div">
    <mat-card appearance="outlined">
      <mat-card-content class="center-column" style="padding: 2rem">
        <mat-icon color="warn" style="font-size: 48px; width: 48px; height: 48px">error_outline</mat-icon>
        <h2>No Instance Selected</h2>
        <p>Please select or allocate an instance in the navigation bar to manage models.</p>

        <button mat-button (click)="onAllocate()">Allocate</button>
      </mat-card-content>
    </mat-card>
  </div>
} @else {
  <router-outlet></router-outlet>
}
