@if (projectResource.isLoading()) {
  <app-loading-progress-bar title="Loading project..."></app-loading-progress-bar>
} @else if (projectResourceError()) {
  <div style="margin: 1rem" class="center-column">
    <app-error-state style="width: 400px" [error]="projectResourceError()!"></app-error-state>
  </div>
} @else {
  <div class="project-details-main-div">
    @if (instancesResource.isLoading()) {
      <app-loading-progress-bar title="Loading instances..."></app-loading-progress-bar>
    } @else if (instancesResourceError()) {
      <app-error-state [error]="instancesResourceError()!"></app-error-state>
    } @else if (!currentInstance()) {
      <div class="no-instance-context">
        <mat-card class="project-details-card" appearance="outlined">
          <mat-card-content class="center-column" style="padding: 2rem">
            <mat-icon color="warn" style="font-size: 48px; width: 48px; height: 48px">error_outline</mat-icon>
            <h2>No Instance Selected</h2>
            <p>Please select or allocate an instance in the navigation bar to manage models.</p>

            <button mat-button (click)="onAllocate()">Allocate</button>
          </mat-card-content>
        </mat-card>
      </div>
    } @else if (!currentInstance()) {
      <app-centered-spinner text="Synchronizing and finding selected instance..."/>
    } @else {
      <mat-card class="project-details-card" appearance="outlined">
        <app-instance-info [instanceInfo]="currentInstance()!"/>

        <app-upload-models [projectId]="projectId()!" [instanceId]="currentInstance()!.id"/>

        <mat-divider/>

        <app-load-models [projectId]="projectId()!" [instanceId]="currentInstance()!.id"/>

        <mat-divider/>

        <app-link-models [projectId]="projectId()!" [instanceId]="currentInstance()!.id"/>

        <mat-divider/>

        <app-currently-loaded-models [instanceId]="currentInstance()!.id"/>

        <mat-divider/>

        <app-project-context [projectId]="projectId()!" [instanceId]="currentInstance()!.id"/>
      </mat-card>
    }
  </div>
}
