.project-details-main-div {
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center space-around;
  align-items: center;
  overflow: auto;
}

.project-details-card {
  width: 75%;
  margin-top: 4%;
  margin-bottom: 4%;
}
