@if (projectResource.isLoading()) {
  <app-loading-progress-bar title="Loading project..."></app-loading-progress-bar>
} @else if (projectResource.error()) {
  <div style="margin: 1rem" class="center-column">
    <app-error-state style="width: 400px" [error]="projectResource.error()!"></app-error-state>
  </div>
} @else {
  <div class="project-details-main-div">
    @if (currentInstanceInfoResource.isLoading()) {
      <app-loading-progress-bar title="Loading instance info..."></app-loading-progress-bar>
    } @else if (currentInstanceInfoResource.error()) {
      <app-error-state [error]="currentInstanceInfoResource.error()!"></app-error-state>
    } @else {
      <mat-card class="project-details-card" appearance="outlined">
        <app-instance-info [instanceInfo]="currentInstanceInfoResource.value()!" />

        <app-upload-models [projectId]="projectId()!" [instanceId]="currentInstanceInfoResource.value()!.id" />

        <mat-divider />

        <app-load-models [projectId]="projectId()!" [instanceId]="currentInstanceInfoResource.value()!.id" />

        <mat-divider />

        <app-link-models [projectId]="projectId()!" [instanceId]="currentInstanceInfoResource.value()!.id" />

        <mat-divider />

        @if (currentInstanceInfoResource.isLoading()) {
          <app-centered-spinner text="Loading Info" />
        } @else if (currentInstanceInfoResource.error()) {
          <app-error-state [error]="currentInstanceInfoResource.error()!" />
        } @else {
          <app-currently-loaded-models [instanceId]="currentInstanceInfoResource.value()!.id" />
        }

        <mat-divider />

        @if (currentInstanceInfoResource.isLoading()) {
          <app-centered-spinner text="Loading Info" />
        } @else if (currentInstanceInfoResource.error()) {
          <app-error-state [error]="currentInstanceInfoResource.error()!" />
        } @else {
          <app-project-context [projectId]="projectId()!" [instanceId]="currentInstanceInfoResource.value()!.id" />
        }
      </mat-card>
    }
  </div>
}
