<div class="project-model-section-title project-model-content-after-divider">Project Context</div>

@if (projectContextResource.isLoading()) {
  <app-centered-spinner text="Loading Context"></app-centered-spinner>
} @else if (projectContextResourceError()) {
  <app-error-state [error]="projectContextResourceError()!"></app-error-state>
} @else {
  @if (projectContextResource.value()!.length === 0) {
    <div>No context loaded</div>
  }

  @if (isClearContextLoading()) {
    <app-centered-spinner text="Clearing Context"></app-centered-spinner>
  }

  @if (isReloadContextLoading()) {
    <app-centered-spinner text="Reloading Context"></app-centered-spinner>
  }

  <app-selectable-tree [data]="context()"></app-selectable-tree>

  <div class="action-buttons-container">
    <button mat-flat-button [disabled]="isReloadContextLoading()" (click)="onReloadModelsClick()">Reload Models</button>

    <button mat-flat-button [disabled]="isClearContextLoading()" (click)="onClearContextButtonClick()">Clear Context</button>
  </div>
}
