<div fxLayout="row" fxLayoutAlign="end">
  <button mat-icon-button color="warn" matTooltip="Copy to clipboard" [cdkCopyToClipboard]="projectAbsolutePath"
          (click)="onCopyToClipboardButtonClick()">
    <mat-icon>content_copy</mat-icon>
  </button>
  <a mat-icon-button color="warn" matTooltip="Open in VS Code"
     [href]="('vscode://file/' + projectAbsolutePath) | safeUrl">
    <mat-icon svgIcon="microsoft-visual-studio-code"></mat-icon>
  </a>
  <button class="run-script-button" mat-icon-button color="warn" matTooltip="Run script"
          (click)="onRunScriptButtonClick()">
    <mat-icon>play_arrow</mat-icon>
  </button>
</div>
<ngx-monaco-editor style="height: 100%" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>

<app-loading-results-dialog *ngIf="isLoadingResults"></app-loading-results-dialog>
