@use '@angular/material' as mat;
@use './styles/common';
@use 'themes/yellow_deep-orange_theme-colors';

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: (
        primary: yellow_deep-orange_theme-colors.$primary-palette,
        tertiary: yellow_deep-orange_theme-colors.$tertiary-palette,
      ),
    )
  );
}

html.darkMode {
  color-scheme: dark;
  @include mat.theme(
    (
      color: (
        primary: yellow_deep-orange_theme-colors.$primary-palette,
        tertiary: yellow_deep-orange_theme-colors.$tertiary-palette,
      ),
    )
  );
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
