.main-scripts-div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.no-analysis-message,
.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-style: italic;
  gap: 16px;

  mat-progress-bar {
    max-width: 300px;
  }
}
