<div class="project-model-section-title project-model-content-after-divider">Link Models</div>

@if (getLinkersResource.isLoading()) {
  <app-loading-progress-bar title="Loading linkers..."></app-loading-progress-bar>
} @else if (getLinkersResourceError()) {
  <app-error-state [error]="getLinkersResourceError()!" (retry)="getLinkersResource.reload()"></app-error-state>
} @else {
  <mat-form-field class="select-linker" appearance="fill">
    <mat-label>Linker</mat-label>
    <mat-select [value]="selectedLinkerId()" (valueChange)="selectedLinkerId.set($event)">
      @for (loader of getLinkersResource.value(); track loader.id) {
        <mat-option [value]="loader.id">
          {{ loader.name }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
}

@if (isLinkLoading()) {
  <app-loading-progress-bar title="Linking Models..."></app-loading-progress-bar>
}

<div class="link-models-container">
  <button class="link-button" mat-flat-button [disabled]="!selectedLinkerId() || isLinkLoading()" (click)="onLinkButtonClick()">Link</button>

  @if (!selectedLinkerId()) {
    <div class="warning">A linker must be selected</div>
  }
</div>
