<div class="section-title content-after-divider">Link Models</div>

<mat-form-field class="select-linker" appearance="fill">
  <mat-label>Linker</mat-label>
  <mat-select [(value)]="selectedLinker">
    <mat-option *ngFor="let linker of linkers" [value]="linker">
      {{linker}}
    </mat-option>
  </mat-select>
</mat-form-field>

<div></div>

<mat-spinner class="link-spinner align-left" *ngIf="linking" color="primary" strokeWidth="4"
             [diameter]="100"></mat-spinner>

<button class="link-button" mat-raised-button color="primary" [disabled]="linking"
        (click)="onLinkButtonClick()">Link
</button>
