<div class='section-title content-after-divider'>Link Models</div>

<ng-container *ngIf='linkersLoading$ | async; else loadLinkers'>
  <app-centered-spinner text='Loading Linker Plugins'></app-centered-spinner>
</ng-container>

<ng-template #loadLinkers>

  <ng-container *ngIf='linkersError$ | async; else showLinkers'>
    <app-api-error-message message='An error occurred while loading the linkers.' type='error'></app-api-error-message>
  </ng-container>

  <ng-template #showLinkers>
    <ng-container *ngIf='linkers$ | async as linkers'>
      <mat-form-field class='select-linker' appearance='fill'>
        <mat-label>Linker</mat-label>
        <mat-select [(value)]='selectedLinker'>
          <mat-option *ngFor='let linker of linkers' [value]='linker'>
            {{linker}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>
  </ng-template>
</ng-template>

<div></div>

<ng-container *ngIf='linkModelsLoading$ | async'>
  <app-centered-spinner text='Linking Models'></app-centered-spinner>
</ng-container>


<button class='link-button' mat-raised-button color='primary' [disabled]='!selectedLinker || (linkModelsLoading$ | async)'
        (click)='onLinkButtonClick()'>Link
</button>
