.example-container {
  width: 100%;
  height: 100%;
}

.tree-div {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: 100%;
}

.main-scripts-div {
  height: calc(100% - 113px)
}

.output-tabs {
  width: 100%;
  padding: 0px 0px 0px 16px;
  overflow: auto;
}

:host ::ng-deep .mat-tab-body-wrapper {
  height: 100%;
}
