.empty-tree {
  display: flex;
  justify-content: center;
}

.loading-error {
  display: flex;
  justify-content: center;
}
.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 32px;
}

.example-tree div[role=group] > .mat-tree-node {
  padding-left: 32px;
}

.example-tree {
  margin-bottom: 16px;
}

.root-tree-file-adjustment {
  margin-left: 32px;
}
