<app-centered-spinner *ngIf='scriptsForProjectLoading$ | async'></app-centered-spinner>

<ng-container *ngIf='scriptsForProjectError$ | async'>
  <app-api-error-message message='Error while loading the scripts tree' type='error'></app-api-error-message>
</ng-container>

<div *ngIf='scriptsForProject$ | async as scriptsForProject'>
  <div *ngIf='scriptsForProject.length === 0' class='empty-tree'>Tree is empty</div>

  <app-tree [treeData]='scriptsForProject' (leafClick)='onLeafClick($event)' (deleteLeafClick)='onDeleteLeafClick($event)'></app-tree>
</div>
