<mat-tree #tree [dataSource]="data()" [childrenAccessor]="childrenAccessor" class="non-selectable-tree">
  <!-- Leaf node -->
  <mat-nested-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding (click)="onClick.emit(node)">
    <div class="leaf-node">
      <span class="node-with-icon">
        @if (fileIcon()) {
          <mat-icon>description</mat-icon>
        }

        {{ node.name }}

        @if (enableDelete()) {
          <div class="flex-spacer"></div>
          <app-tree-actions-menu (onDelete)="onDelete.emit(node)" />
        }
      </span>
    </div>
  </mat-nested-tree-node>

  <!-- Parent node -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <div class="mat-tree-node">
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{ tree.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>
      <div class="folder-node">
        <span class="node-with-icon">
          @if (folderIcon()) {
            <mat-icon>folder</mat-icon>
          }

          {{ node.name }}

          @if (enableDelete()) {
            <div class="flex-spacer"></div>
            <app-tree-actions-menu (onDelete)="onDelete.emit(node)" />
          }
        </span>
      </div>
    </div>
    <div [class.non-selectable-tree-invisible]="!tree.isExpanded(node)" role="group">
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree>
