
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ScriptBeeWebApp-primary: mat.define-palette(mat.$indigo-palette);
$ScriptBeeWebApp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ScriptBeeWebApp-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ScriptBeeWebApp-theme: mat.define-light-theme((
  color: (
    primary: $ScriptBeeWebApp-primary,
    accent: $ScriptBeeWebApp-accent,
    warn: $ScriptBeeWebApp-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ScriptBeeWebApp-theme);

@import "~@angular/material/theming";

@include mat-core();

// Defining a light theme
$scriptbee-light-primary: mat-palette($mat-yellow, 800, 500, 900);
$scriptbee-light-accent: mat-palette($mat-deep-orange, 700, 500, 900);
$scriptbee-light-warn: mat-palette($mat-red);
$scriptbee-light-theme: mat-light-theme($scriptbee-light-primary, $scriptbee-light-accent, $scriptbee-light-warn);

// Defining a dark theme
$scriptbee-dark-primary: mat-palette($mat-yellow, 800, 500, 900);
$scriptbee-dark-accent: mat-palette($mat-deep-orange, 500, 300, 700);
$scriptbee-dark-warn: mat-palette($mat-red);
$scriptbee-dark-theme: mat-dark-theme($scriptbee-dark-primary, $scriptbee-dark-accent, $scriptbee-dark-warn);

// Apply the light theme by default
@include angular-material-theme($scriptbee-light-theme);

.dark-theme-mode {
  @include angular-material-theme($scriptbee-dark-theme);
}

:root {
  --primary-color: #{mat-color($scriptbee-light-primary)};
  --accent-color: #{mat-color($scriptbee-light-accent)};
  --warn-color : #{mat-color($scriptbee-light-warn)};
};
