<div>
  <h1 mat-dialog-title style="text-align: center">Create new script</h1>
  <div mat-dialog-content>
    <div>
      <mat-form-field class="dialog-field" appearance="fill">
        <mat-label>Script Name</mat-label>
        <input id="script-name" matInput [(ngModel)]="scriptPath" />
      </mat-form-field>

      <mat-form-field class="dialog-field" appearance="fill">
        <mat-label>Script Type</mat-label>
        <mat-select id="script-language" [(ngModel)]="scriptLanguage">
          @for (scriptLanguage of availableScriptLanguages(); track scriptLanguage.name) {
            <mat-option [value]="scriptLanguage.name">{{ scriptLanguage.name }} </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="text-alignment"><i>The corresponding file extension will be automatically added to the name</i></div>

    <mat-accordion class="parameters-expansion-panel">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Parameters</mat-panel-title>
        </mat-expansion-panel-header>

        <app-script-parameters-list
          [parameters]="parameters()"
          (parametersChange)="onParametersChange($event)"
          (hasParameterErrors)="onHasParameterErrors($event)"></app-script-parameters-list>
      </mat-expansion-panel>
    </mat-accordion>

    <!--    TODO FIXIT: handle loading and error -->
    <!--    <ng-container *ngIf="createScriptError">-->
    <!--      <div class="error-message text-alignment" *ngIf="createScriptError.code === 409">A script with this name already exists</div>-->
    <!--      <div class="error-message text-alignment" *ngIf="createScriptError.code !== 409">An error occurred while creating the script</div>-->
    <!--    </ng-container>-->

    <!--    <ng-container *ngIf="isCreatingScript">-->
    <!--      <ng-template [ngTemplateOutlet]="loading"></ng-template>-->
    <!--    </ng-container>-->

    <!--    <ng-template #loading>-->
    <!--      <app-centered-spinner></app-centered-spinner>-->
    <!--    </ng-template>-->
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onOkClick()" [disabled]="isOkDisabled()">OK</button>
    <button mat-button (click)="onCancelClick()">CANCEL</button>
  </div>
</div>
