<div class="mat-app-background">
  <mat-toolbar color="primary">
    <span>ScriptBee</span>
    <span class="example-spacer"></span>
    <button mat-button [routerLink]="['/']">
      Home
    </button>
    <button mat-button [routerLink]="['/counter']">
      Counter
    </button>
    <button mat-button [routerLink]="['/fetch-data']">
      Fetch data
    </button>
    <mat-slide-toggle [(ngModel)]="themeService.isDarkTheme" labelPosition="before">
      <mat-icon>bedtime</mat-icon>
    </mat-slide-toggle>
  </mat-toolbar>
</div>
