<div class="mat-app-background">
  <mat-toolbar color="primary">
    <div fxLayout="row" fxLayoutAlign="start center">

      <a routerLink="/" style="margin-top: 12px"><img src="../../assets/images/logo_text_2.png" alt="logo" height="56"/></a>
<!--      <img src="../../assets/images/logo_text_2.png" alt="logo" height="56"/>-->
<!--      <a routerLink="/">ScriptBee</a>-->
      <button mat-button [routerLink]="['/projects']">
        <span class="nav-bar-text">Projects</span>
      </button>
    </div>
    <span class="example-spacer"></span>
    <mat-slide-toggle [(ngModel)]="themeService.isDarkTheme" labelPosition="before">
      <mat-icon>bedtime</mat-icon>
    </mat-slide-toggle>
  </mat-toolbar>
</div>
