@if (instanceId()) {
  <div class="project-model-section-title project-model-content-after-divider">Upload Models</div>

  <mat-form-field class="select-loader" appearance="fill">
    <mat-label>Loader</mat-label>
    <mat-select [value]="selectedLoaderId()" (valueChange)="selectedLoaderId.set($event)">
      @for (loader of getLoadersResource.value() ?? []; track loader.id) {
        <mat-option [value]="loader.id">
          {{ loader.name }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  @if (getLoadersResource.isLoading()) {
    <app-loading-progress-bar title="Loading loaders..."></app-loading-progress-bar>
  } @else if (getLoadersResourceError()) {
    <app-error-state [error]="getLoadersResourceError()!" (retry)="getLoadersResource.reload()"></app-error-state>
  }

  <app-drag-and-drop-files [(files)]="files"></app-drag-and-drop-files>

  <div class="warning keep-in-mind">Keep in mind: When uploading new models for a particular loader, the references to previous uploads will be deleted!</div>

  @if (isUploadLoading()) {
    <app-loading-progress-bar title="Uploading Files..."></app-loading-progress-bar>
  }

  <div class="upload-files-container">
    <button mat-flat-button [disabled]="files.length === 0 || isUploadLoading()" (click)="onUploadFilesClick()">Upload Files</button>

    @if (!selectedLoaderId()) {
      <div class="warning">A loader must be selected in order to upload models</div>
    }
  </div>
}
