<div style="height: 100%;">
  <div *ngIf="outputFiles.length >= 2" fxLayout="row" fxLayoutAlign="start center">
    <span>Download all files: </span>
    <button mat-icon-button color="accent" (click)="onDownloadAllButtonClick()">
      <mat-icon>download</mat-icon>
    </button>
  </div>
  <button class="file-button" *ngFor="let file of outputFiles" mat-raised-button color="primary"
          (click)="onDownloadFileButtonClick(file)">
    <mat-icon>download</mat-icon>
    {{file.fileName}}
  </button>
</div>
