name: Deploy

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        required: true
        default: '1.0.0'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build Docker Image
        run: |
          docker build -t dxworks/scriptbee:${{ github.event.inputs.version }} -f ./Dockerfile .
      - name: Publish Docker Images
        run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          docker push dxworks/scriptbee:${{ github.event.inputs.version }}
