@if (getProjectResource.isLoading()) {
  <app-loading-progress-bar title="Loading project..."></app-loading-progress-bar>
} @else if (getProjectResource.error()) {
  <div style="margin: 1rem" class="center-column">
    <app-error-state style="width: 400px" [error]="getProjectResource.error()!"></app-error-state>
  </div>
} @else {
  <div class="project-details-main-div">
    <mat-card class="project-details-card" appearance="outlined">
      <app-upload-models [projectId]="projectId()!"></app-upload-models>

      <mat-divider></mat-divider>

      <app-load-models [projectId]="projectId()!"></app-load-models>

      <mat-divider></mat-divider>

      <app-link-models></app-link-models>

      <mat-divider></mat-divider>

      <app-currently-loaded-models></app-currently-loaded-models>

      <mat-divider></mat-divider>

      <app-project-context></app-project-context>
    </mat-card>
  </div>
}
