<div class="main-scripts-div">
  <as-split direction="vertical">
    <as-split-area size="65">
      <as-split direction="horizontal">
        <as-split-area size="20">
          <app-script-tree />
        </as-split-area>

        <as-split-area size="80">
          <app-scripts-content />
        </as-split-area>
      </as-split>
    </as-split-area>

    <as-split-area size="35">
      <app-analysis-output [projectId]="projectId()!" [analysisId]="analysisId()!" />
    </as-split-area>
  </as-split>
</div>
